#characters-container {
    background: #fff;
    display: flex;
    align-self: flex-start;
    flex-direction: column;
    padding: 10px;
    height: 100%;

    #characters-title {
        padding-bottom: 10px;
    }

    #characters {
        border: 1px solid #000;
        align-self: flex-start;
        overflow: scroll;
        flex-grow: 1;
        padding: 10px;
    }
}